<ion-header>
    <ion-toolbar>
        <ion-title>responder-encuesta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="encuesta">
    <div *ngFor="let pregunta of encuesta.preguntas; let indiceP = index">
        <div *ngIf="pregunta.tipoP === 'RU'">
            <ion-radio-group (ionChange)="funcion($event, indiceP)">
                <ion-list-header>
                    <h3>{{pregunta.pregunta}} </h3>
                </ion-list-header>
                <ion-list *ngFor="let opcion of pregunta.respuestas">
                    <ion-item><label>{{opcion.respuesta}}</label>
                        <ion-radio slot="end" value="{{opcion.respuesta}}"></ion-radio>
                    </ion-item>
                </ion-list>
            </ion-radio-group>
        </div>
        <div *ngIf="pregunta.tipoP === 'SM'">
            <ion-radio-group>
                <ion-list-header>
                    <h3>{{ pregunta.pregunta}} </h3>
                </ion-list-header>
                <ion-list *ngFor="let opcion of pregunta.respuestas">
                    <ion-item><label>{{opcion.respuesta}}</label>
                        <ion-checkbox (ionChange)="funcionCheck($event, indiceP)" slot="end" value="{{opcion.respuesta}}"></ion-checkbox>
                    </ion-item>
                </ion-list>
            </ion-radio-group>
        </div>

    </div>
    <ion-button expand="block" (click)="enviarRespuesta()">Enviar Respuestas</ion-button>

</ion-content>